@font-face {
  font-family: cyber;
  src: url(../fonts/CyberHorizonRegular.woff2);
}
@font-face {
  font-family: barcode;
  src: url(../fonts/LibreBarcode39ExtendedText-Regular.woff2);
}
@font-face {
  font-family: subheaders;
  src: url(../fonts/ArefRuqaa-Regular.woff2), url(../fonts/ArefRuqaa-Bold.woff2);
}
@font-face {
  font-family: regulartxt;
  src: url(../fonts/LibertinusSans-Regular.woff2), url(../fonts/LibertinusSans-Bold.woff2);
}
:root {
  /********************************* Colors ************************************************/
  --color-text: #e4e4e4;
  --color-text-grey: #b1b1b1;
  --color-text-inverted: rgba(29, 27, 27, 1);

  --white: rgba(228, 228, 228, 1);
  --yellow: rgb(219, 162, 55);
  --windowframe: rgba(56, 37, 29, 1);
  --windowlining: rgb(46, 24, 24);
  --windowlining-light: rgb(124, 93, 46);
  --dark: rgba(29, 27, 27, 1);

  --white10: rgba(228, 228, 228, 0.1);
  --white05: rgba(228, 228, 228, 0.05);

  /************ Windowframes ***********************************************/
  --windowborder-L: 10px solid var(--windowframe);
  --windowborder-inner-L: 6px solid var(--windowlining);

  --windowborder-S: 6px solid var(--windowframe);
  --windowborder-inner-S: 4px solid var(--windowlining);

  /**************************************Fonts********************************************/
  --h1: cyber;
  --h2h3: regulartxt;
  --p: regulartxt;
  --logo: barcode;

  --h1-size: 48px;
  --h2-size: 32px;
  --h3-size: 24px;
  --p-size: 1rem;
}
