.grid {
  display: grid;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.flex {
  display: flex;
  align-items: center;
}
/* index */
.indexhero {
  height: 70vh;
  align-content: center;
}
.grid_1-min-1 {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;

  span.vertical {
    grid-column: 2/3;
  }
  span.horizontal {
    grid-column: 1/4;
  }
  img {
    padding: 0.5rem;
  }
}
/* about */
.grid_3-1-2 {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr;
  img {
    padding: 1rem;
  }
}
.grid_3-1-2 :first-child {
  grid-column: 2/4;
  grid-row: 1/7;
}
.grid_3-1-2 :last-child {
  grid-column: 1/3;
  grid-row: 5/6;
}
.span {
  grid-column: 1/3;
}
.skills .flex * {
  width: 100%;
}
.desktop_5-2 {
  display: grid;
  gap: 1rem;
}
/* project page */
.tema-slide {
  display: grid;
  grid-template-columns: minmax(1rem, 3rem) 1fr minmax(1rem, 3rem);
  grid-template-rows: 1fr;
}
.img-2,
.img-3 {
  order: 1;
}
/***************** Desktop 800+ *********************************************************************/
@media screen and (min-width: 800px) {
  section,
  .tema-frame,
  .tema-frame-inverted {
    border: var(--windowborder-L);
    border-block-width: 1.5rem;
  }
  .lining,
  .lining_desktop,
  .tema-txt {
    border: var(--windowborder-inner-L);
    border-bottom-color: var(--windowlining-light);
    border-right-color: var(--windowlining-light);
    border-bottom-width: 10px;
  }
  .lining_mobil {
    border: none;
  }
  .border-bottom {
    border-bottom: var(--windowborder-L);
  }
  .border-top {
    border-top: var(--windowborder-L);
  }
  .desktop_span2 {
    grid-column: span 2;
  }
  /* Index */
  .desktop_flex {
    grid-template-columns: repeat(4, 1fr);
  }
  /* aboutme */
  .desktop_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .desktop_5-2 {
    grid-template-columns: 5fr 2fr;
    grid-template-rows: max-content;
  }

  section.useless {
    grid-column: 2/3;
    grid-row: 1/2;
    .lining {
      align-content: center;
      height: 100%;
    }
  }
  section.skills {
    svg {
      max-width: 4rem;
    }
  }
  section.software {
    grid-column: span 2;
    .grid_1-1 {
      grid-template-columns: repeat(4, 1fr);
      border-bottom: 0;
      grid-column: 1/3;
    }
  }
  /* Project pages */
  .desktop_2-1-2-4 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 4fr;
  }
  .desktop_4-2-1-2 {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
  }

  section.tema-sektion {
    border: none;
    background: none;
  }

  .tema-frame,
  .tema-frame-inverted {
    background-image: url(../imgs/windowbg-s.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: min-content;
    align-self: center;
  }
  .tema-frame {
    grid-column: 4/5;
    grid-row: 1/-1;
  }
  .tema-frame-inverted {
    order: -1;
    grid-row: 1/-1;
  }
}
