.grid_5fr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-self: center;
}
.tema-frame-inverted {
  order: -1;
  align-self: center;
}
.tema-frame {
  align-self: center;
}
.process,
.resultat,
.reflektioner {
  .img-1 {
    grid-column: 1/4;
    grid-row: 2/6;
  }
  .img-2 {
    grid-column: 4/6;
    grid-row: 3/4;
  }
  .img-3 {
    grid-column: 2/6;
    grid-row: 5/8;
  }
}

p.zoom-info {
  display: block;
  grid-row: 8/9;
  grid-column: 1/7;
  justify-self: end;
  color: rgb(76 75 89);
  width: fit-content;
  padding-bottom: 1rem;
}

@media (min-width: 800px) {
  section.tema-sektion {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tema-img {
    padding: 0;
  }

  #tema3_1 {
    .img-1 {
      grid-column: 1/4;
      grid-row: 3/7;
    }
    .img-2 {
      grid-column: 3/6;
      grid-row: 2/5;
    }
    .img-3 {
      grid-column: 4/6;
      grid-row: 4/6;
    }
  }

  /* .m20 {
    margin: 20px;
  }
  .w200 {
    max-width: 200px;
  }
  #c1-6 {
    grid-column: 4/8;
    grid-row: 6/8;
  }
  #c1-7 {
    grid-column: 4/8;
    grid-row: 7/8;
  } */
}
